/* Contenedor principal de la gestión de empleados */
.gtempleados-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gtempleados-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

/* Filtros de búsqueda */
.gtempleados-filtros {
  /* display: flex; */
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.gtempleados-filtros-column {
  /* flex: 1; */
  min-width: 200px;
}

.gtempleados-label {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 20px;
  color: #333;
}

.gtempleados-checkboxes {
  margin-top: 10px;
}

.gtempleados-checkbox-label {
  /* display: block; */
  /* margin-bottom: 30px; */
  color: #555;
}

.gtempleados-select,
.gtempleados-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.gtempleados-btn-create {
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

.gtempleados-btn-create:hover {
  background-color: #0056b3;
}

/* Estilo de la tabla */
.gtempleados-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

.gtempleados-table th,
.gtempleados-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.gtempleados-table th {
  background-color: #f8f9fa;
  font-size: 1.1rem;
  color: #333;
  font-weight: bold;
}

.gtempleados-table td {
  color: #555;
  font-size: 1rem;
}

.gtempleados-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.gtempleados-btn-ver,
.gtempleados-btn-edit {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
  width: auto;
}

.gtempleados-btn-ver {
  background-color: #28a745;
  color: white;
}

.gtempleados-btn-ver:hover {
  background-color: #218838;
}

.gtempleados-btn-edit {
  background-color: #ffc107;
  color: white;
}

.gtempleados-btn-edit:hover {
  background-color: #e0a800;
}

/* Input de búsqueda */
.gtempleados-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.gtempleados-input[type="date"] {
  padding: 6px;
}

/* Estilos generales para select y buttons */
.gtempleados-select {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
}

.gtempleados-select:focus,
.gtempleados-input:focus {
  border-color: #007bff;
}

/* Estilo para la columna de filtros */
.gtempleados-busqueda {
  /* flex: 2; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Responsive - Ajuste en pantallas más pequeñas */
@media (max-width: 768px) {
  .gtempleados-filtros {
    flex-direction: column;
    align-items: flex-start;
  }

  .gtempleados-btn-create {
    width: auto;
    margin-top: 20px;
  }

  .gtempleados-actions {
    flex-direction: column;
    gap: 10px;
  }
}
