.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.home-section {
  background-color: rgba(255, 255, 255, 0.8);
  width: 70%;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.home-div-title {
  text-align: center;
}
.home-title {
  color: #ff3a3a;
  font-size: 3rem;
}
.home-form {
  text-align: center;
}
.form-div-recogida,
.form-div-devolucion {
  margin: 0 auto 1rem auto;
}
.home-div-subtitle-recogida,
.home-div-subtitle-devolucion {
  text-align: left;
  padding-left: 2rem;
}
.home-subtitle-recogida,
.home-subtitle-devolucion {
  font-size: 1.5rem;
}
.form-subdiv-recogida,
.form-subdiv-devolucion {
  display: flex;
  justify-content: space-evenly;
}
.form-div-lugar-recogida,
.form-div-fecha-recogida,
.form-div-hora-recogida,
.form-div-lugar-devolucion,
.form-div-fecha-devolucion,
.form-div-hora-devolucion {
  display: flex;
  flex-direction: column;
}

.home-label-lugar-recogida,
.home-label-fecha-recogida,
.home-label-hora-recogida,
.home-label-lugar-devolucion,
.home-label-fecha-devolucion,
.home-label-hora-devolucion {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: left;
}
.home-select-lugar-recogida,
.home-input-fecha-recogida,
.home-input-hora-recogida,
.home-select-lugar-devolucion,
.home-input-fecha-devolucion,
.home-input-hora-devolucion {
  padding: 0.7rem;
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border: none;
}
.home-error-message {
  color: red;
  font-size: 0.7rem;
}
.btn-reservar {
  width: 160px;
  height: 50px;
  background: #ff3a3a;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
  margin: 1rem auto;
}

.btn-reservar:hover {
  background-color: #c00;
}

/* Sección de recomendaciones */
.recommendation-section {
  width: 80%;
  margin: 2rem 0;
  text-align: center;
}

.recommendation-section h2 {
  margin-bottom: 1.5rem;
}

.car-recommendations {
  display: flex;
  justify-content: space-around;
}

/* Tarjetas de carros */
.car-card {
  width: 250px;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
}

.car-image {
  background-color: #ccc;
  width: 100%;
  height: 150px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-rating {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.car-name {
  font-weight: 500;
}
