/* NAVBAR PRINCIPAL */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff3a3a;
  padding: 0 2rem;
  height: 70px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-div-logo {
  display: flex;
  align-items: center;
}

.navbar-logo {
  color: white;
  text-decoration: none;
}

/* Enlaces a la derecha */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;
}

.navbar-right-item {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
}

.navbar-right-item:hover {
  text-decoration: underline;
}

/* Login y registro */
.navbar-login {
  color: white;
}

/* MENU DESPLEGABLE CLIENTE LOGUEADO */
.navbar-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.3rem;
  position: relative;
}
.navbar-menu:hover {
  background-color: #ff4949;
}

.navbar-menu-initials {
  width: 36px;
  height: 36px;
  background-color: #cccccc;
  border-radius: 50%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.navbar-dropdown-arrow {
  color: #fff;
}

/* Estilo del dropdown moderno */
.navbar-dropdown-menu {
  position: absolute;
  top: 70px; /* Justo debajo del navbar */
  right: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 200px;
  padding: 0.5rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.navbar-dropdown-item {
  display: block;
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background-color 0.2s;
}

.navbar-dropdown-item:hover {
  background-color: #f2f2f2;
}

.navbar-dropdown-line {
  border: none;
  border-top: 1px solid #ccc;
  margin: 4px 0;
}
